Package: turbo-happiness
Architecture: all
Maintainer: grumps
Depends: rsync (>= 3.0), obnam (>= 1.7), tar (>= 1.24)
Priority: optional
Version: 0.1.3
Description: Turbo happiness scripts
 This contains some common package needs.
